.box {
    background-color: aquamarine;
    /* width: 2vw;
    height: 2vw; */
    /* padding: 10px; */
    /* border-style: solid; */
    /* border-color: black; */
    /* border-width: 5px; */
    margin: 1px;
    /* -webkit-transition: padding 2s; */
}

/* .box:hover {
    background-color: green;
    /* transition-timing-function: ease-out; */
    /* transition-delay: 1s; */
/* } */ 